.footer__container {
  background-color: #000000;
  padding: 40px 12px;
  .footer__block {
    width: 1702px;
    margin: 0px auto;
    padding: 0px;
    .footer__row {
      padding: 0px 12px 20px;
      border-bottom: 1px solid #202020;
      .logo__social__row {
        padding: 0px;
        .footer__logo___link {
          .footer__logo {
            margin: 0px 0px 50px;
          }
        }
        .social__group {
          .social__icon {
            margin: 0px 10px 0px 0px;
          }
        }
      }
      .footer__navbar__row {
        .footer__link__block {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .footer__link__title {
           font-family: 'SSTbold';
font-weight: bold;
            font-size: 18px;
            color: #ffffff;
            margin: 0px 0px 30px 0px;
          }
          .footer___link {
            font-family: "SSTregular";
            font-size: 16px;
            color: #ffffff;
            text-decoration: none;
            margin: 0px 0px 10px 0px;
          }
          .footer__email__title {
            font-family: "SSTregular";
            font-size: 16px;
            color: #ffffff;
            margin: 0px 0px 4px 0px;
          }
          .footer__email {
            font-family: "SSTmedium";
            font-size: 18px;
            color: #ffffff;
            text-decoration: none;
            margin: 0px 0px 20px 0px;
          }
          .footer__mobile__title {
            font-family: "SSTregular";
            font-size: 16px;
            color: #ffffff;
            text-decoration: none;
            margin: 0px 0px 4px 0px;
          }
          .footer__mobile {
            font-family: "SSTmedium";
            font-size: 18px;
            color: #ffffff;
            margin: 0px;
            text-decoration: none;
          }
        }
      }
    }
    .card__and__live__row {
      padding: 30px 0px;
      display: flex;
      align-items: flex-start;

      .card__block {
        display: flex;
        .card {
          object-fit: cover;
          width: 59px;
          height: 38px;
          // width: 100%;
          // height: 100%;
          margin: 0px 10px 0px 0px;
        }
      }
      .sony__expert__block {
        display: flex;
        justify-content: flex-end;
        padding: 0px;
        .expert__button {
          background: none;
          border: none;
          outline: none;
        }
      }
    }
  }
}
.footer__bottom__container {
  background-color: #ffffff;
  padding: 40px 12px 20px;
  .footer__bottom__block {
    width: 1702px;
    margin: 0px auto;
    padding: 0px;
    .inner__footer__bottom__block {
      .copyright__text__block {
        .copyright__text {
          margin-bottom: 20px;
          .footer__bottom__link {
            text-decoration: underline;
            color: #000000;
          }
        }
      }
      .mestores__footer__logo {
        object-fit: contain;
      }
    }
  }
}
@media screen and (max-width: 1702px) {
  .footer__block {
    width: 90% !important;
  }
  .footer__bottom__block {
    width: 90% !important;
  }
}
@media screen and (max-width: 992px) {
  .footer__block {
    width: 100% !important;
    min-width: 100% !important;
    margin: 0px auto;
  }
  .footer__bottom__block {
    width: 100% !important;
    min-width: 100% !important;
    margin: 0px auto;
  }
  .card__and__live__row {
    padding: 30px 0px !important;
  }
  .footer__container .footer__block .footer__row .footer__navbar__row .footer__link__block .footer___link{
    margin: 0px 10px 10px 0px;
  }
}
@media screen and (max-width: 768px) {
  .footer__block {
    width: 100% !important;
  }
  .logo__social__row {
    margin: 0px 0px 40px 0px;
    .footer__logo {
      margin: 0px 0px 20px !important;
    }
  }
  .footer__link__block {
    padding: 0px !important;
    margin: 0px 0px 30px 0px;
    .footer__link__title {
      margin: 0px 0px 30px 0px !important;
    }
  }
  .copyright__text__block {
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    .copyright__text {
      margin: 0px 0px 10px 0px !important;
    }
    .copyright__small__text {
      margin: 0px !important;
    }
  }
}
@media screen and (max-width: 576px) {
  .footer__block {
    width: 100% !important;
  }
  .sony__expert__block {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0px 0px !important;
    .expert__button {
      width: 100% !important;
      padding: 5px 20px;
    }
  }
}
