.main__navbar__container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  z-index: 10;
  position: fixed;

  // overflow-y: scroll;
  width: 100%;
  height: auto;
  .header__container {
    background-color: black;
    padding: 2px 10px 0px;
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    .header {
      margin: 0px auto;
      width: 1702px;
      padding: 0px;
      .header__sidemenu__icon {
        display: none;
        margin-left: 10px;
      }
      .header__row {
        width: 100%;
        margin: 0px;
        .header__link {
          display: flex;
          align-items: center;
          padding: 0px;
          .header__logo {
            // margin-left: 10px;
          }
        }
        .search__box__block {
          padding: 0px;
          .search__box {
            padding: 0px 6px 0px 0px;
            background-color: white;
            height: 30px;
            width: 80%;
            border-radius: 5px;
            display: flex;
            align-items: center;
            .search__input {
              padding: 0px 10px;
              margin: 0px;
              background: none;
              outline: none;
              border: 0px;
              width: 96%;
            }
          }
        }

        .header__icon__block {
          padding: 0px 0px 0px 00px;
          display: flex;
          justify-content: flex-end;
          .header__icon__inner__block {
            // width: 300px;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            .header__language__icon,
            .header__search__icon {
              display: none;
            }
            .header__icon {
              margin: 0px 5px 0px;
              cursor: pointer;
            }
            .header__user__block {
              position: relative;
              .signin__signup__popup__disable{
                display: none;
              }
              .signin__signup__popup {
                position: absolute;
                top: 40px;
                right: 0px;
                z-index: 2;
                background-color: #ffffff;
                width: 230px;
                padding: 32px 18px;
                .signin__button {
                  background: #dc3a1a 0% 0% no-repeat padding-box;
                  box-shadow: 0px 3px 6px #00000005;
                  border-radius: 5px;
                  color: white;
                  outline: none;
                  border: none;
                  width: 100%;
                  font-size: 16px;
                  font-family: "arialbold";
                  padding: 16px 0px;
                  margin: 0px 0px 16px;
                }
                .signup__button {
                  background: #ffffff 0% 0% no-repeat padding-box;
                  box-shadow: 0px 3px 6px #00000005;
                  border: 2px solid #000000;
                  border-radius: 5px;
                  color: black;
                  outline: none;
                  width: 100%;
                  font-size: 16px;
                  font-family: "arialbold";
                  padding: 16px 0px;
                }
              }
              
            }
            .main__language__selection {
              margin: 0px 5px 0px;
              position: relative;
              .language__selction {
                width: 120px;

                background: #ffffff00 0% 0% no-repeat padding-box;
                border: 2px solid #ffffff;
                border-radius: 3px;
                padding: 2px 10px 2px 5px;
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                .language {
                  color: #ffffff;
                  margin: 0px 10px 0px 0px;
                }
              }
              .language__selction:hover {
                cursor: pointer;
              }
              .language__option__dropdown {
                z-index: 1;
                position: absolute;
                background-color: black;
                border-radius: 3px;
                width: 120px;
                left: -2px;
                top: 35px;
                padding: 5px;
                border: 2px solid #ffffff;
                .language__option {
                  color: white;
                  margin: 0px 0px 5px;
                }
                .language__option:hover {
                  cursor: pointer;
                }
              }
              .language__option__dropdown__disable {
                display: none;
              }
            }
            .cart__icon__block {
              margin-right: 10px;
              position: relative;
              .cart__item__count {
                position: absolute;
                background-color: #818181;
                width: fit-content;
                top: -30%;
                right: -30%;
                color: white;
                margin: 0px;
                border-radius: 20px;
                padding: 2px 5px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
  .navbar__container {
    background-color: #131313;
    .navbar__row {
      padding: 0px 10px;
      margin: 0px;
      .navbar {
        // width: 1702px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        height: 47px;
        background-color: #131313;
        // margin: 0px 0px 0px 250px;
        .navbar__link__block {
          display: flex;
          // align-items: center;
          padding: 0px 0px 5px;
          // margin: 0px auto;
          margin-left: 66px;
          .navbar__allCategories {
            font-family: "arialbold";
            color: white;
            margin: 0px 30px 0px 30px;
            display: flex;
            align-items: center;
            cursor: pointer;
            .all__categoriy__navabar__link {
              margin: 0px 10px 0px;
            }
            .navbar__menu__icon {
              margin: 0px 0px 0px 0px;
            }
          }
          .navbar__link {
            padding: 10px 0px 10px 0px;
            margin: 0px 30px 0px 0px;
            text-decoration: none;
            color: rgb(223, 223, 223);
            cursor: pointer;

            .down__arrow__icon {
              margin: 0px 10px;
            }
          }
          .navbar__link:hover {
            color: white;
          }

          .active__navbar__link {
            margin: 0px 30px 0px 0px;
            color: white;
            text-decoration: none;
            cursor: pointer;
          }
        }
        .icon__block {
          display: none;
          height: 100%;
          padding: 5px;
          .menu__icon {
          }
        }
      }
    }
  }
  .mobile__navbar {
    min-height: 100%;
    max-height: 80vh;
    overflow-y: scroll;

    display: none;
    background-color: #000000;
    .mobile__navbar__link__block {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .mobile__navbar__link {
        padding: 7px 10px 5px;
        margin: 0px 0px 5px 0px;
        text-decoration: none;
        color: white;
        .down__arrow__icon {
          margin-left: 10px;
        }
      }

      .active__mobile__navbar__link {
        margin: 0px;

        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff;
      }
    }
  }
  .mobile__navbar::-webkit-scrollbar {
    display: none;
  }
  .mobile__navbar__disable {
    display: none;
  }
  .category__popup__container {
    // background: #ffffff 0% 0% no-repeat padding-box;

    min-height: 100%;
    overflow-y: scroll;

    .category__popup__block {
      width: 900px;
      min-height: 560px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      // margin: 0px auto;
      margin-left: 95px;
      .category__popup__left__block {
        padding: 40px 30px 0px 46px;
        background: #f1f1f1 0% 0% no-repeat padding-box;
        .mainCategory__block {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0px 0px 20px;
          cursor: pointer;
          .mainCategory__left__block {
            margin: 0px;
            font-size: 20px;
            font-family: "arialbold";
          }
          .popup__right__arrow {
            display: none;
          }
        }
        .selected__mainCategory__block {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0px 0px 20px;
          cursor: pointer;
          .mainCategory__left__block {
            color: #ff4f04;
            margin: 0px;
            font-size: 20px;
            font-family: "arialbold";
          }
          .popup__right__arrow {
            display: block;
          }
        }
      }
      .category__popup__right__block {
        padding: 0px 30px 0px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border: 1px solid #d1d1d1;
        .mainCategory__title__block {
          padding: 20px 0px;
          border-bottom: 1px solid #818181;
          .mainCategory__right__block {
            margin: 0px;
            font-size: 24px;
            font-family: "arialbold";
          }
        }

        .subCategory__block {
          padding: 30px 0px;
          .subcategory {
            color: #000000;
            text-decoration: none;
            cursor: pointer;
            margin: 0px 0px 20px;
            font-size: 18px;
            font-family: "arialregular";
          }
        }
      }
    }
  }
  .category__popup__container__disable {
    display: none;
  }
  .login__popup__container {
    position: absolute;
    top: 70px;
    margin: 0px;
    width: 100%;
    z-index: 1;
    height: 94vh;
    overflow-y: scroll;
    background-color: #02020250;
    display: flex;
    // align-items: center;
    justify-content: center;
    padding: 10px 0px;
  }
  .login__popup__container__disable {
    display: none;
  }
}
.cart__popup__container__disable {
  display: none;
}
.cart__popup__container {
  position: fixed;
  top: 0px;
  margin: 0px;
  width: 100%;
  z-index: 12;
  height: 100vh;
  overflow-y: hidden;
  background-color: #02020250;
  padding: 10px 0px;
}

@media screen and (max-width: 1702px) {
  // .header {
  //   width: 90% !important;
  // }
  // .navbar {
  //   width: 90% !important;
  // }
  .product__popup__block {
    width: 90% !important;
  }
}
@media screen and (max-width: 1280px) {
  .popup__product__block {
    margin: 0px 12px 12px 0px !important;
    width: 30% !important;
  }
}
@media screen and (max-width: 1200px) {
  .navbar {
    padding: 0px 0px 0px 8px !important;
  }
  .search__box {
    width: 80% !important;
  }
}
@media screen and (max-width: 992px) {
  .main__navbar__container {
    min-width: 100% !important;
  }
  .header {
    width: 100% !important;
    margin: 0px auto;
  }
  .search__box__block {
    display: none !important;
  }
  .header__sidemenu__icon {
    display: block !important;
  }
  .header__icon__block {
    padding: 0px 0px 0px 0px !important;

    justify-content: space-between !important;
  }
  .header__language__icon,
  .header__search__icon {
    display: block !important;
  }
  .language__selction {
    display: none !important;
  }
  .navbar__container {
    padding: 0px !important;
    display: none !important;
  }
  .navbar {
    min-width: 100% !important;
    margin: 0px auto;
    padding: 0px 10px 0px !important;
  }

  .mobile__navbar {
    display: block !important;
  }
  .product__popup__block {
    min-width: 100% !important;
    margin: 0px auto;
    // padding: 7px 10px 0px !important;
    .inner__product__popup__block {
      padding: 0px 14px;
      .category__block {
        .category__title {
          font-size: 14px !important;
        }
      }
      .productList__block {
        padding: 0px 0px 0px 12px !important;
        .popup__product__block {
          margin: 0px 12px 12px 0px !important;

          .product__image {
            margin: 0px 0px 10px 0px !important;
            width: 100%;
          }
          .product__title {
            font-size: 13px;
          }
        }
      }
      .adsBanner__block {
        padding: 0px !important;
        .adBanner__image {
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .main__navbar__container {
    width: 100% !important;
  }
  .product__popup__container {
    display: none !important;
  }

  .navbar {
    width: 100% !important;
    align-items: flex-end;
    justify-content: flex-end !important;
  }
  .header {
    width: 100% !important;
  }

  .icon__block {
    display: block !important;
  }
  .productList__block {
    justify-content: space-between;
    padding: 0px 12px 0px 12px !important;
  }
  .adsBanner__block {
    margin-top: 5px !important;
    display: flex;
    justify-content: space-between !important;
    align-items: flex-start;
    flex-direction: row !important;
    .adBanner__image {
      width: 32% !important;
    }
  }
}
@media screen and (max-width: 576px) {
  .main__navbar__container {
    width: 100% !important;
  }
  .navbar {
    width: 100% !important;
  }
  .header {
    width: 100% !important;
  }
  .header__sidemenu__icon {
    transform: scale(80%);
    margin-left: 0px !important;
  }
  .header__logo {
    width: 100% !important;
  }
  .header__icon {
    margin: 0px !important;
    transform: scale(80%) !important;
  }
  .cart__icon__block {
    margin: 0px !important;
  }
  .location {
    // display: none;
  }

  .favourite {
    // display: none;
  }
}
