.allproducts__section__one {
  width: 1702px;
  padding: 0px;
  margin: 0px auto;
  background: #f2f2f2;
  min-height: 200px;
  .section__one__title__block {
    // background: #F2F2F2;
    .section__title {
      margin: 78px 0px 68px 79px;
      font-family: "arialbold";
      font-size: 48px;
    }
  }
  .section__one__image__block {
    .section__one__image {
      margin-top: 40px;
    }
  }
}

.allproducts__category__section {
  width: 1702px;
  padding: 0px;
  margin: 0px auto;
  background: #000000;
  display: flex;
  min-height: 139px;
  .category__section__block {
    &.active__category {
      background-color: #ffffff;
      fill: none;
    }
    min-height: 126px;
    width: 185px;
    position: relative;
    text-align: center;
    // display: inline-grid;
    align-items: center;
    margin: auto;
    .category__section__image__block {
      //   margin-left: 10px;
      padding-top: 16px;
      .category__section__image {
        &.active__category {
          background-color: #000000;
          fill: none;
        }
        object-fit: cover;
        // width: 73px;
        min-height: 69px;
      }
    }
    .category__section__title__block {
      margin-top: 18px;
      .category__section__title {
        font-family: "arial";
        font-size: 18px;
        // color: #DC3A1A;
        color: #ffffff;
      }
    }
  }
}

.allproducts__product__list {
  width: 1702px;
  padding: 0px;
  margin: 0px auto;
  background: #e6e6e6;

  .section__one__title__block {
    // background: #F2F2F2;
    .section__title {
      margin: 78px 0px 68px 79px;
      font-family: "arialbold";
      font-size: 48px;
    }
  }
  .section__one__image__block {
    .section__one__image {
      margin-top: 40px;
    }
  }
  // .product__filter{
  //   min-height: 1869px;
  //   width: 320px;
  //   background: white;
  // }
  .product__header {
    min-height: 81px;
    display: flex;
    justify-content: space-between;
    background: #f9f9f9;
    .product__count {
      color: #000000;
      font-family: "arialbold";
      font-size: 24px;
      margin: 27px 0px 27px 81px;
    }
    .product__sortby__grid {
      display: flex;
      justify-content: flex-end;
      .product__sortby {
        min-height: 52px;
        width: 255px;
        .sortby__block {
          display: flex;

          .sortby__text {
            color: #808080;
            font-family: "arial";
            font-size: 16px;
            width: 62px;
            min-height: 17px;
            text-align: center;
            margin: auto;
          }
          .sortby__select {
            // -moz-appearance:none; /* Firefox */
            // -webkit-appearance:none; /* Safari and Chrome */
            // appearance:none;
            margin: 8px 0px 21px 8px;
            width: 185px;
            min-height: 60px;
            background: #ffffff 0% 0% no-repeat padding-box;
            border: 1px solid #c8c8c8;
            border-radius: 3px;
            opacity: 1;
            padding: 10px;
            .sortby__options {
              color: #808080;
              font-family: "arial";
              font-size: 16px;
            }
          }
        }
      }
      .product__view {
        display: flex;
        margin: 14px 27px 27px 10px;
        .grid__block {
          margin-right: 5px;
          width: 45px;
          min-height: 40px;
          background: #ffffff;
          border: 1px solid #ff4f04;
          border-radius: 3px;
          .grid__view {
            padding: 7px;
          }
        }
        .list__block {
          width: 45px;
          min-height: 40px;
          background: #ffffff;
          border: 1px solid #727272;
          border-radius: 3px;
          .list__view {
            width: 45px;
            min-height: 40px;
          }
        }
      }
    }
  }

  .product__filter__list {
    width: 1702px;
    padding: 0px;
    margin: 0px auto;
    min-height: 200px;
    .product__filter {
      background: #f2f2f2;
      min-height: 1869px;
      width: 320px;
      background: white;
      box-shadow: 0px 3px 6px #00000029;
      .product__filter__container {
        padding-left: 19px;
        .filter__block {
          padding: 25px 0px;
          .product__filter__title {
            color: #3b3b3b;
            font-size: 16px;
            font-family: "arialbold";
          }
          .product__filter__section__block {
            display: flex;
            &.reviews {
              align-items: center;
            }
            .filter__checkbox {
              accent-color: #000000;
              height: 24px;
              width: 24px;
              background: #ffffff;
              border: 1px solid #808080;
              border-radius: 4px;
              opacity: 1;
              margin-right: 13px;
            }
            .filter__title {
              color: #3b3b3b;
              font-size: 16px;
              font-family: "arialregular";
            }
            .star__rating__block {
              display: flex;
              .star__count {
                margin-left: 6px;
              }
              .star__rating {
                color: #dc3a1a;
                font-size: 13px;
                font-family: "arialbold";
                margin: 10px;
              }
            }
          }
        }
        .filter__devider {
          padding: 1px;
          background: gray;
        }
      }
    }
    .product__list {
      padding: 25px;
    }
  }
}
