@font-face {
    font-family: 'SST';
    src: url('SST-Bold.woff2') format('woff2'),
        url('SST-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SST';
    src: url('SST-Roman.woff2') format('woff2'),
        url('SST-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SST';
    src: url('SST-Medium.woff2') format('woff2'),
        url('SST-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST';
    src: url('SST-Bold.woff2') format('woff2'),
        url('SST-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST';
    src: url('SST-Medium.woff2') format('woff2'),
        url('SST-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

