.main__facets__block {
    padding: 30px 20px 30px;
    border-bottom: 1px solid #818181;
  .main__facets__title {
    font-size: 20px;
    font-family: "SSTbold";
    margin: 0px 0px 20px 0px;
    width: 400px;
  }
  .facet__block {
    display: flex;
    align-items: center;
    margin: 0px 0px 10px 0px;
    .preferences__select__input__check {
      accent-color: #000000;
      height: 30px;
      width: 30px;
      border-radius: 10px;
      margin: 0px 16px 0px 0px;
      // border: 30px solid #303030;
      text-transform: uppercase;
      cursor: pointer;
    }
    .facet__item__label {
      font-size: 18px;
      font-family: "SSTmedium";
      margin: 0px;
      width: 400px;
      color: #3B3B3B;
    }
  }
}
