.productList__banner__section__one {
  width: 1702px;
  padding: 0px;
  margin: 0px auto;
  background: #f2f2f2;
  min-height: 200px;
  .productList__banner__section__one__title__block {
    // background: #F2F2F2;
    .productList__banner__section__one__title {
      margin: 78px 0px 68px 79px;
      font-family: "arialbold";
      font-size: 48px;
    }
  }
  .productList__banner__section__one__image__block {
    .productList__banner__section__one__image {
      margin-top: 40px;
      width: 328px;
    }
  }
}


  

