@media(max-width:991px) {
    .mb__cart__page {
        .product__avilable__offers__block .product__offer__block .product__offer__icon {
            width: 20px;
            margin: 0px 16px 0px 0px;
        }
        .main__recommand__product__block{
            background: #fff;
            padding-top: 20px;
        }
        .mb__sc__fixed__btn {
            background: #DC3A1A 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            padding: 10px 30px;
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
            right: 0;
            align-items: center;
            color: #fff !important;
        }
        .shopping__cart__page__container{
            background: #f5f5f5;
        }
        .breadcrumbs__container {
            padding-top: 160px;
        }

        .sc__product__middle__block {
            .heading4 {
                margin-top: 30px !important;
                font-size: 18px;
            }
        }

        .protection__plan__block .selected__plan__block .remove__plan p {
            background-image: url("./../../assets/Icon/delete.svg");
            font-size: 0;
            height: 22px;
            width: 24px;
            background-size: contain;
            margin-left: auto !important;
            cursor: pointer;
            background-repeat: no-repeat;
        }

        .sc__product__block {

            .sc__product__left__block,
            .sc__product__middle__block,
            .sc__product__right__block {
                width: 100%;
            }

            .sc__product__image__block {
                background-color: transparent !important;
                border: none !important;
                width: 100%;
                height: auto;
                padding: 0;
            }
        }

        .sc__product__right__block {
            background: #F2F2F2;
            align-items: center !important;
            padding: 10px 20px !important;
            margin: 0 auto;
            width: 94% !important;
            border-radius: 5px;
            overflow: hidden;
        }
        .protection__plan__block .heading5{
            font-size: 16px;
        }
      
    }

}
@media(max-width:767px){
    .sc__product__block .sc__offers__discounts__block .sc__form__block .sc__form__field {
        width: 100%;
    }
    .sc__product__block .sc__offers__discounts__block .sc__form__block .sc__form__field:last-child {
        width: 110px;
    }
    .shopping__cart__page__container .shopping__cart__page__block{
        padding-top: 0;
    }
}