.search__product__block {
  width: 100%;
  padding: 20px;
  margin: 0px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000a;
  border: 1px solid #f1f1f1;
  margin: 20px 0px;
  .search__product__image__block {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    .search__product__image {
      width: 90%;
      height: 90%;
      object-fit: contain;
    }
  }
  .search__product__detail__block {
    padding: 0px 0px 0px 20px;
    .search__product__hightlight__link {
      .search__product__link {
        text-decoration: none;
        color: #dc3a1a;
      }
    }
  }
}
