.product__comparison__page__container {
    background-color: #e6e6e6;
    padding: 107px 12px 0px;
    .product__comparison__page__block{
      padding: 0px 0px;
      width: 1702px;
      margin: 0px auto;
    }
  }
  