.product__comparison__main__container {
  margin-bottom: 27px;

  .product__comparison__block {
    width: 100%;
    margin: 0px 40px 0px 0px;
    background-color: #ffffff;
    // padding: 20px;
    .product__card__top {
      display: flex;
      justify-content: end;
      .product__comparison__close__icon__block {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 13px 13px 0px 0px;
        .product__comparison__close__icon {
          width: 36px;
        }
      }
    }
    .product__card {
      .product__comparison__header__block {
        padding: 14px;
        margin: 0px 0px 20px;
        width: 100%;
        background: #f1f4f9;
        .product__comparison__image__block {
          width: 272px;
          height: 252px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          .product__comparison__image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: 50% 50%;
          }
        }
      }

      .product__comparison__name {
       font-family: 'SSTbold';
font-weight: bold;
        font-size: 18px;
        margin: 10px 0px 10px 0px;
        height: 82px;
      }
      .product__comparison__series {
        font-family: "SSTregular";
        font-size: 14px;
        margin: 0px 0px 10px 0px;
        color: #808080;
        letter-spacing: 0.5px;
      }
      .rating__block {
        padding: 0px;
        margin: 0px 0px 10px 0px;
        .bGVcoD {
          padding: 0px;
        }
      }
      .prize__block {
        display: flex;
        align-items: flex-end;
        .old__prize {
          font-family: "SSTregular";
          font-size: 18px;
          text-decoration-line: line-through;
          color: #c8c8c8;
        }
        .new__prize {
         font-family: 'SSTbold';
font-weight: bold;
          font-size: 18px;

          margin: 0px 0px 0px 5px;
        }
      }
      .product__comparison__fetureText {
        font-family: 'SSTregular';
        font-size: 16px;
        color: #2b2b2b;
        width: auto;
      }
      .free__delivery {
        .free__delivery text {
          margin: 0px;
          color: #2b2b2b;
          font-family: 'SSTregular';
          font-size: 12px;
        }
        .delivery__day {
          color: #2b2b2b;
         font-family: 'SSTbold';
font-weight: bold;
          font-size: 14px;
        }
      }
      .addToCart__button {
        border-radius: 5px;
        color: #ffffff;
        font-size: 16px;
       font-family: 'SSTbold';
font-weight: bold;
        letter-spacing: 0.85px;
        padding: 20px 0px;
        background-color: #dc3a1a;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        .addToCart__icon {
          margin: 0px 20px 0px 0px;
        }
      }
    }
  }
}

.product__comparison__all__specification__block {
  .specification__title__block {
    .specification__category__block {
      .specification__subcategory__block {
        background: #f1f4f9;
        text-align: center;
        font-size: 16px;
        font-family: "SSTregular";
        margin-bottom: 27px;
        .specification__subcategory__title {
          color: #101010;
          font-size: 16px;
          font-family: 'SSTregular';
          padding: 10px 0px;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.product__comparison__availability {
  margin-bottom: 20px;
  .product__comparison__availability__container {
    .product__comparison__availability__block {
      background: #f1f4f9;
      padding: 18px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      .product__comparison__availability__block__item {
        display: flex;
        align-items: flex-start;
        margin: 16px 0px;
        .item__image {
          margin-right: 13px;
        }
        .item__text__block {
          .item__text {
            margin: 0px;
            font-size: 16px;
            font-family: "SSTregular";
            .item__strong__text {
              font-size: 16px;
             font-family: 'SSTbold';
font-weight: bold;
            }
          }
          .item__store__location__link {
            color: #003cb4;
          }
        }
      }
    }
  }
}

.product__comparison__offer {
  margin-bottom: 20px;
  .product__comparison__offer__block {
    background: #f1f4f9;
    // padding: 10px;
    .product__comparison__offer__item {
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 10px;
      .product__offer__block {
        display: flex;
        align-items: center;
        margin: 16px 0px 16px 0px;

        .product__offer__icon {
          width: 32px;
          margin: 0px 16px 0px 0px;
        }
        .product__offer__text__box {
          display: flex;
          align-items: center;
          .product__offertype {
            margin: 0px;
            font-size: 14px;
           font-family: 'SSTbold';
font-weight: bold;
            .product__offerText {
              margin: 0px 10px 0px 0px;
              font-size: 14px;
              font-family: "SSTregular";
            }
          }
          .product__termsAndConditions__link {
            margin: 0px;
            font-size: 14px;
           font-family: 'SSTbold';
font-weight: bold;
            text-decoration: none;
            color: #003cb4;
          }
        }
      }
    }

    .product__card__finance__offer {
      margin-top: 29px;
      .finance__offertext {
        color: #003cb4;
        margin: 0px;
      }
    }
  }
}
