@font-face {
    font-family: 'SST Arabic';
    src: url('SSTArabic-Bold.woff2') format('woff2'),
        url('SSTArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST Arabic';
    src: url('SSTArabic-Light.woff2') format('woff2'),
        url('SSTArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST Arabic';
    src: url('SSTArabic-Bold.woff2') format('woff2'),
        url('SSTArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST Arabic';
    src: url('SSTArabic-Light.woff2') format('woff2'),
        url('SSTArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST Arabic';
    src: url('SSTArabic-Medium.woff2') format('woff2'),
        url('SSTArabic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST Arabic';
    src: url('SSTArabic-Roman.woff2') format('woff2'),
        url('SSTArabic-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST Arabic';
    src: url('SSTArabic-Medium.woff2') format('woff2'),
        url('SSTArabic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST Arabic';
    src: url('SSTArabic-Roman.woff2') format('woff2'),
        url('SSTArabic-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

