.loginModel__container {
  margin: 0px 0px 0px 0px;
  width: 400px;
  padding: 100px 0px 100px;
  height: fit-content;
  .loginModel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 30px;
    border-bottom: 1px solid #818181;
    background-color: #ffffff;
    .cancel__button {
      cursor: pointer;
    }
  }
  .loginModel__content {
    padding: 30px 30px;
    background-color: #ffffff;
    .main__form__field__block {
      margin: 0px 0px 10px;
      .form__label {
      }
      .field__block {
        border: 1px solid #c8c8c8;
        border-radius: 4px;
        padding: 10px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .form__field {
          width: 100%;
          outline: none;
          border: none;
          font-size: 16px;
          letter-spacing: 0.3px;
        }
      }
      .invalid__message {
        color: red;
        margin: 5px 0px 0px;
      }
    }
    .remember__and__forget__password__block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .main__remember__block {
        width: 60%;
        .remember__block {
          display: flex;
          align-items: flex-start;
          .inner__Remember__block {
            width: 14%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px 10px 0px 0px;
            .check__icon {
              display: block;
            }
            .check__icon__disable {
              display: none;
            }
          }
          .policy__link {
            font-size: 16px;
            color: #003cb4;
            text-decoration: none;
          }
        }
      }
      .forgot__password__block {
        .forgot__password__text {
          color: #003cb4;
          text-decoration: underline;
        }
      }
    }
    
    .signin__button {
      background: #101010 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000005;
      border-radius: 5px;
      color: white;
      outline: none;
      border: none;
      width: 100%;
      font-size: 16px;
      font-family: "arialbold";
      padding: 16px 0px;
    }
    .or__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      margin: 20px 0px;
      .mid__line {
        height: 1px;
        width: 100%;
        background-color: #dbdbdb;
        z-index: 0;
        transform: translateY(-20px);
      }
      .or__text__block {
        background-color: #f6f6f6;
        width: fit-content;
        padding: 10px;
        border-radius: 50%;
        z-index: 1;
        .or__text {
          font-size: 14px;
          font-family: "arialbold";
          margin: 0px;
        }
      }
    }
    .getOtp__button {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000005;
      border: 2px solid #000000;
      border-radius: 5px;
      color: black;
      outline: none;
      width: 100%;
      font-size: 16px;
      font-family: "arialbold";
      padding: 16px 0px;
      margin: 0px 0px 10px;
    }
    .google__signin__button {
      background: #ff3d2b 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000005;
      border-radius: 5px;
      color: white;
      outline: none;
      border: none;
      width: 100%;
      font-size: 16px;
      font-family: "arialregular";
      padding: 16px 20px;
      margin: 0px 0px 10px;
      display: flex;
      align-items: center;
      .signin__button__icon {
        margin: 0px 30px 0px 0px;
      }
    }
    .facebook__signin__button {
      background: #2c5a98 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000005;
      border-radius: 5px;
      color: white;
      outline: none;
      border: none;
      width: 100%;
      font-size: 16px;
      font-family: "arialregular";
      padding: 16px 20px;
      margin: 0px 0px 10px;
      display: flex;
      align-items: center;
      .signin__button__icon {
        margin: 0px 30px 0px 0px;
      }
    }
    .apple__signin__button {
      background: #101010 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000005;
      border-radius: 5px;
      color: white;
      outline: none;
      border: none;
      width: 100%;
      font-size: 16px;
      font-family: "arialregular";
      padding: 16px 20px;
      margin: 0px 0px 10px;
      display: flex;
      align-items: center;
      .signin__button__icon {
        margin: 0px 30px 0px 0px;
      }
    }
    .loginModel__footer {
      padding: 10px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      .footer__text {
        font-size: 18px;
        font-family: "arialbold";
        margin: 0px;
      }
      .footer__link__text {
        color: #ff4f04;
        font-size: 18px;
        font-family: "arialbold";
        margin: 0px 0px 0px 5px;
      }
    }
  }
}
