.allCategory {
  background-color: #e6e6e6;
  padding: 113px 12px 0px;
  .main__bestSellers__block {
    width: 1702px;
    padding: 0px;
    margin: 0px auto;
  }
  .main__budgetTv__block {
    width: 1702px;
    padding: 0px;
    margin: 0px auto;
  }
  .three__ad__banner__container {
    // margin-bottom: 49px;
    .three__ad__banner__block {
      width: 1702px;
      padding: 0px;
      margin: 0px auto;
      .section__title {
       font-family: 'SSTbold';
font-weight: bold;
        font-size: 48px;
      }
      .inner__three__ad__banner__block {
        padding: 0px 12px;
        .ad__banner__block {
          .ad__banner__image {
            width: 100%;
          }
        }
      }
    }
  }
}
