.carouselTypeTwo__container {
  margin: 30px 0px 0px;
  padding: 0px;
  .carouselTypeTwo__block {
    width: 100%;
    padding: 0px;
    position: relative;
    margin: 0px auto;
  }
  .section__title {
    font-family: "arialbold";
    font-size: 40px;
  }
  .arrow__block {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 103%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .arrow {
      // filter: invert(1);
      cursor: pointer;
      padding: 10px 15px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
    }
    .arrow__disable {
      visibility: hidden;
    }
    .left__arrow {
      transform: translateX(-50%);
    }
    .right__arrow {
      transform: translateX(5%);
    }
  }
  .carouselTypeTwo__inner__block {
    // position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    // transition: all 0.2s ease-in;
  }
  .rv__inner__mobile__screen {
    // position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    // transition: all 0.2s ease-in;
  }
  .top__trending__block {
    // position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    // transition: all 0.2s ease-in;
  }
}
@media screen and (max-width: 1702px) {
  .carouselTypeTwo__block {
    width: 100% !important;
  }
}
@media screen and (max-width: 1400px) {
  .arrow__block {
    width: 103% !important;

    .left__arrow {
    }
    .right__arrow {
    }
  }
}
@media screen and (max-width: 1200px) {
  .arrow__block {
    width: 100% !important;

    .left__arrow {
      transform: translateX(-50%) !important;
    }
    .right__arrow {
      transform: translateX(50%) !important;
    }
  }
}
@media screen and (max-width: 992px) {
  .carouselTypeTwo__block {
    min-width: 100% !important;
    margin: 0px auto;
  }
  .arrow__block {
    width: 100% !important;
    .left__arrow {
      transform: translateX(-10%) !important;
    }
    .right__arrow {
      transform: translateX(20%) !important;
    }
  }
}
@media screen and (max-width: 768px) {
  .carouselTypeTwo__block {
    width: 100% !important;
  }
  .arrow__block {
    width: 100% !important;
  }
}
@media screen and (max-width: 576px) {
  .carouselTypeTwo__block {
    width: 100% !important;
  }
  .arrow__block {
    width: 100% !important;
  }
}
