.category__screensize__container {
  // display: flex;
  justify-content: center;
  //   align-items: center;
  padding: 0px;
  margin-top: 59px;
  .section__title {
    font-family: "arialbold";
    font-size: 40px;
    text-align: center;
    margin-bottom: 41px;
  }
  .category__screensize__block {
    width: 1702px;
    padding: 0px;
    margin: 0px auto;
    display: flex;
    .screensize__block {
      margin: auto;
      //   margin: 41px auto 0px 0px;
      background: #ffffff;
      width: 185px;
      height: 185px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      text-align: center;
      .screensize_text {
        margin: auto;
        font-family: "arialbold";
        font-size: 30px;
        // padding: 10px;
        text-align: center;
      }
    }
  }
}