.category__banner__container {
  display: flex;
  justify-content: center;
  //   align-items: center;
  padding: 0px;
  .category__banner__block {
    width: 1702px;
    padding: 0px;
    margin: 0px auto;
    .banner__Image {
      width: 100%;
      // height: 100%;
      // object-fit: cover;
    }
  }
}
