.checkout__page__container {
  padding: 0px 12px;
  background-color: #f5f5f5;
  .super__coin__block .super__coin__text__block .super__coin__title {
    font-size: 14px;
  }
  .super__coin__block .super__coin__text__block .super__coin__condition {
    font-size: 12px;
  }
  .checkout__page__block {
    padding: 20px 0px;
    width: 1702px;
    margin: 0px auto;

    .checkout__page__inner__block {
      padding: 0px 0px;
      width: 100%;
      margin: 0px auto;
      .checkout__left__block {
        padding: 0px;
        margin: 0px 0px 50px 0px;
        @media (max-width: 1100px) {
          margin: 0px 0px 0px 0px;
        }
        .checkout__login__main__block {
          width: 100%;
          display: flex;
          align-items: flex-start;
          padding: 12px 0px;
          margin: 0px;
          display: flex;
          align-items: center;
          .checkout__signin__button {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            cursor: pointer;
            .done__icon {
              position: absolute;
              top: 70%;
              left: 34px;
            }
          }
          .checkout__middle__line__block {
            height: 1px;
            background-color: #818181;
          }
          .checkout__delivery__button {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            .done__icon {
              position: absolute;
              top: 70%;
              left: 60px;
            }
          }
          .checkout__payment__button {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            .done__icon {
              position: absolute;
              top: 70%;
              left: 60px;
            }
          }
        }
        .user__delivery__address__block__disable {
          display: none;
        }
        .user__delivery__address__block {
          background-color: #ffffff;
          box-shadow: 0px 3px 6px #0000000a;
          margin: 20px 0px;
          .delivery__address__block {
            padding: 16px 0px;
            .delivery__address__title__block {
              display: flex;
              align-items: center;
              padding: 0px 16px;
            }
            .address__select__block {
              padding: 0px 0px;
              margin: 20px 0px;
              border-bottom: 0;
              .address__block {
                padding: 0px 16px;
                .selected__address__inner__block {
                  box-shadow: 0px 3px 6px #00000029;
                  border: 2px solid #000000;
                  padding: 20px 30px;

                  .address__tag {
                    width: fit-content;
                    padding: 10px 20px;
                    background: #eeeeee;
                    border: 1px solid #eeeeee;
                    border-radius: 3px;
                    margin: 0px 0px 10px;
                  }
                  .white__address__tag {
                    width: fit-content;
                    padding: 10px 20px;
                    background: #ffffff;
                    border: 1px solid #ffffff;
                    border-radius: 3px;
                    margin: 0px 0px 10px;
                  }
                  .full__address {
                    width: 90%;
                    height: 50px;
                  }
                  .address__button__block {
                    margin: 20px 0px 0px;
                    .delivery__button {
                      text-align: center;
                      font-size: 16px;
                      font-family: "arialbold";
                      border-radius: 5px;
                      width: 100%;
                      color: #ffffff;
                      padding: 10px 25px;
                      background-color: #dc3a1a;
                      margin: 0px 12px 10px 0px;
                      outline: none;
                      border: none;
                      letter-spacing: 0.3px;
                      cursor: pointer;
                      text-transform: uppercase;
                    }
                    .inner__address__button__block {
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      .edit__button,
                      .delete__button {
                        text-align: center;
                        font-size: 16px;
                        font-family: "arialbold";
                        border-radius: 5px;
                        width: 49%;
                        color: #000000;
                        padding: 10px 25px;
                        background-color: #c8c8c8;
                        margin: 0px 0px 10px 0px;
                        outline: none;
                        border: none;
                        letter-spacing: 0.3px;
                        cursor: pointer;
                        text-transform: uppercase;
                      }
                    }
                  }
                }
                .address__inner__block {
                  background: #ffffff;
                  box-shadow: 0px 3px 6px #00000029;
                  border: 2px solid #d1d1d1;
                  padding: 20px 30px;
                  .address__tag {
                    width: fit-content;
                    padding: 10px 20px;
                    background: #eeeeee;
                    border: 1px solid #eeeeee;
                    border-radius: 3px;
                    margin: 0px 0px 10px;
                  }
                  .white__address__tag {
                    width: fit-content;
                    padding: 10px 20px;
                    background: #ffffff;
                    border: 1px solid #ffffff;
                    border-radius: 3px;
                    margin: 0px 0px 10px;
                  }
                  .full__address {
                    width: 90%;
                    height: 50px;
                  }
                  .address__button__block {
                    margin: 20px 0px 0px;
                    .delivery__button {
                      text-align: center;
                      font-size: 16px;
                      font-family: "arialbold";
                      border-radius: 5px;
                      width: 100%;
                      color: #ffffff;
                      padding: 10px 25px;
                      background-color: #dc3a1a;
                      margin: 0px 12px 10px 0px;
                      outline: none;
                      border: none;
                      letter-spacing: 0.3px;
                      cursor: pointer;
                      text-transform: uppercase;
                    }
                    .inner__address__button__block {
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      .edit__button,
                      .delete__button {
                        text-align: center;
                        font-size: 16px;
                        font-family: "arialbold";
                        border-radius: 5px;
                        width: 49%;
                        color: #000000;
                        padding: 10px 25px;
                        background-color: #c8c8c8;
                        margin: 0px 0px 10px 0px;
                        outline: none;
                        border: none;
                        letter-spacing: 0.3px;
                        cursor: pointer;
                        text-transform: uppercase;
                      }
                    }
                  }
                }
              }
            }
          }
          .add__new__address__block {
            padding: 10px 16px;

            .location__button {
              display: flex;
              align-items: center;
              cursor: pointer;
              text-align: center;
              min-width: fit-content;
              font-size: 14px;
              font-family: "arialbold";
              border: 2px solid #000000;
              border-radius: 5px;
              padding: 6px 15px;
              color: #808080;
              background-color: #ffffff;
              outline: none;
              letter-spacing: 0.3px;
              .location__icon {
                margin: 0px 10px 0px 0px;
              }
            }
          }
          .delivery__selcetion__pickup__store {
            padding: 20px 16px;
            .delivery__preferences__block {
              .delivery__preferences__title__block {
              }
              .delivery__selection__block {
                .delivery__selection {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin: 20px 0px 0px 0px;
                  .delivery__selection__form__block {
                    display: flex;
                    align-items: center;
                    .delivery__input__check {
                      accent-color: #ff4f04;
                      height: 30px;
                      width: 30px;
                      border-radius: 10px;
                      margin: 0px 16px 0px 0px;
                      border: 30px solid #303030;
                      text-transform: uppercase;
                    }
                    .delivery__selection__text {
                      margin: 0px;
                    }
                  }
                  .delivery__price__block {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .delivery__price {
                      text-align: right;
                      margin: 0px;
                    }
                  }
                }
              }
            }
            .delivery__pickup__store {
            }
            .continue__button__block {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .continue___button {
                text-decoration: none;
                border-radius: 5px;
                color: #ffffff;
                font-size: 16px;
                font-family: "arialbold";
                letter-spacing: 0.85px;
                padding: 10px 60px;
                background-color: #dc3a1a;
                text-align: center;
                text-transform: uppercase;
                width: fit-content;
                border: none;
                margin: 0px;
                height: 64px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
          .checkout__page__horizontal__line {
            border-bottom: 1px solid #acacac;
            margin: 0px;
          }
        }
        .user__payment__block__disable {
          display: none;
        }
        .user__payment__block {
          background-color: #ffffff;
          box-shadow: 0px 3px 6px #0000000a;
          margin: 0px 0px;
          padding: 0px 20px 20px;
          .payment__block {
            padding: 16px 0px;
            .payment__title__block {
              display: flex;
              align-items: center;
              padding: 0px 16px;
              margin: 0px 0px 20px;
            }
            .payment__form__main__block {
              margin: 0px 0px 10px;
              .payment__form__block {
                display: flex;
                align-items: center;
                padding: 20px;
                background: #f2f2f2 0% 0% no-repeat padding-box;
                border-radius: 5px;
                .payment__input__check {
                  accent-color: #ff4f04;
                  height: 30px;
                  width: 30px;
                  border-radius: 10px;
                  margin: 0px 16px 0px 0px;
                  border: 30px solid #303030;
                  text-transform: uppercase;
                }
                .payment__selection__text {
                  margin: 0px;
                }
              }
              .payment__detail__form__block {
                padding: 20px;
                background: #ffffff 0% 0% no-repeat padding-box;
                border: 1px solid #eeeeee;
                border-radius: 5px;
                .address__content__block {
                  .payment__card__block {
                    display: flex;
                    width: 100%;
                    justify-content: flex-start;
                    flex-direction: column;
                    .payment__form__field__row {
                      width: 100%;
                      margin: 10px;
                      .month__year__form__field__block{
                        // width:100%
                        margin: 0px 12px 0px -12px;
                      }
                      .main__form__field__block {
                        .field__block {
                          width: 100%;
                          .form__field {
                            width: 80%;
                            padding: 10px;
                            background: #ffffff 0% 0% no-repeat padding-box;
                            border: 1px solid #c8c8c8;
                            border-radius: 4px;
                          }
                        }
                        .invalid__message{
                          color: red;
                          margin: 5px 0px 0px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .continue__button__block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .continue___button__link {
              text-decoration: none;
              .continue___button {
                border-radius: 5px;
                color: #ffffff;
                font-size: 16px;
                font-family: "arialbold";
                letter-spacing: 0.85px;
                padding: 10px 60px;
                background-color: #dc3a1a;
                text-align: center;
                text-transform: uppercase;
                width: fit-content;
                border: none;
                margin: 0px;
                height: 64px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
        .order__summary__block {
          background-color: #ffffff;
          box-shadow: 0px 3px 6px #0000000a;
          padding: 16px 0px;
          .order__summary__title__block {
            display: flex;
            align-items: center;
            padding: 0px 16px;
            margin: 0px 0px 10px 0px;
          }
        }
      }

      .checkout__right__block {
        padding: 0px 0px 0px 20px;
        .checkout__package__summary__block {
          box-shadow: 0px 3px 6px #0000000a;
          background-color: #ffffff;

          .checkout__os__title {
            font-size: 24px;
            font-family: "arialbold";
            padding: 20px;
            border-bottom: 1px solid rgb(224, 224, 224);
            margin: 0px;
          }
          .checkout__os__detail__block {
            padding: 10px 20px 20px;
            .checkout__os__detail__inner__block {
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid rgb(224, 224, 224);
              padding: 20px 0px;
              &:last-child {
                border-bottom: 0;
              }
              .checkout__os__detail__title {
                margin: 0px;
                font-size: 16px;
                font-family: "arialregular";
              }
              .checkout__os__detail__price {
                margin: 0px;
                font-size: 16px;
                font-family: "arialbold";
              }
            }
            .checkout__os__detail__total__order__block {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 30px 0px;
              .checkout__os__detail__total__order {
                font-size: 18px;
                font-family: "arialbold";
                margin: 0px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1702px) {
  .checkout__page__block {
    width: 90% !important;
  }
}
@media screen and (max-width: 1200px) {
  .checkout__right__block {
    padding: 0px !important;
    margin: 10px 0px;
  }
}
@media screen and (max-width: 992px) {
  .checkout__page__block {
    width: 100% !important;
  }
}
.address__popup__container__disable {
  display: none;
}
.address__popup__container {
  position: absolute;
  top: 70px;
  margin: 0px;
  width: 100%;
  z-index: 1;
  height: 150vh;
  // overflow-y: scroll;
  background-color: #02020250;
  display: flex;
  // align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
