.feature__category__container {
  .feature__category__block {
    width: 1702px;
    padding: 0px;
    margin: 0px auto;

    .section__title {
      font-family: "arialbold";
      font-size: 48px;
      line-height: 1;
    }

    .inner__feature__category__block {
      display: flex;

      .first__feature__category__block {
        width: 50%;
        margin: 0px 0px 20px;
        text-decoration: none;
        color: #000000;

        .first__feature__category {
          background: #ffffff;
          height: 100%;
          border-radius: 15px;
          padding: 0px 32px 32px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;

          .deal__of__day__container {
            position: relative;
            display: flex;
            left: -62px;
            height: 70px;

            &::before{            
                content: " ";
                display: block;
                position: absolute;
                height: 30px;
                width: 30px;
                bottom: 0px;
                left: 0px;
                background-color: #ffaf2e;
                border-radius: 0px 0px 0px 6px;            
            }
            .rectangleLeft {
              position: absolute;
              top: 40px;
              width: 30px;
              height: 30px;
              background-color: #cc8a15;
              // border-bottom-left-radius: 30px;
              // border-top-left-radius: 30px;
              border-radius: 20px 0px 0px 8px / 20px 0px 0px 15px;
            }

            .upper__rectangle__block {
              position: absolute;
              top: 0px;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .rectangle {
                top: 0px;
                width: 260px;
                height: 40px;
                background: transparent linear-gradient(271deg, #ffdb3b 0%, #ffad2e 100%) 0% 0% no-repeat padding-box;
                font-family: "arialbold";
                font-size: 25px;
                display: flex;
                align-items: center;
                padding-left: 20px;
                justify-content: center;
                border-top-left-radius: 15px;
                text-transform: uppercase;
              }
            }

            .triangle-right {
              background: transparent linear-gradient(271deg, #ffdb3b 0%, #ffad2e 100%) 0% 0% no-repeat padding-box;
              //   padding-box;
              // width: 280px;
              // height: 74px;
              // position: relative;

              width: 0;
              height: 0;
              border-top: 20px solid transparent;
              border-left: 15px solid #ffdb3b;
              border-bottom: 20px solid transparent;
            }
          }

          .first__feature__category__image__block {
            width: 100%;
            // margin: 20px auto 40px;
            background: #ffffff;
            margin-left: 0px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .first__feature__category__image {
              object-fit: cover;
              height: 80%;
              width: 100%;
              margin: 0px auto;
              cursor: pointer // width: 100%;
            }
          }

          .heading__inner__text {
            margin-left: 0px;
            background: #ffffff;
            cursor: pointer;

            .product__title {
              font-family: "arialbold";
              height: 72px;
              overflow: hidden;
              text-decoration: none;
              color: #000000;
            }
          }
        }
      }

      .second__feature__category__block {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 0px 20px;

        .first__in__column {
          margin-bottom: 20px;
        }

        .feature__category {
          background-color: #ffffff;
          padding: 20px 30px 40px;
          height: 48.5%;
          border-radius: 15px;
          text-decoration: none;
          color: #000000;
          position: relative;

          .second__feature__category__image__block {
            width: 100%;
            margin: 5px auto 5px;
            overflow: hidden;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;

            .second__feature__category__image {
              // height: 72px;
              // margin: 0px auto;
              height: 200px;
              width: auto;
              // object-fit: contain;
            }
          }

          .featureProduct__name {
            font-family: "arialbold";
            font-size: 16px;
            margin: 10px 0px 10px 0px;
            height: 72px;
            text-decoration: none;
            color: #000000;
            display: block;
            overflow: hidden;
          }

          .featureProduct__rating__block {
            margin: 0px 0px 20px;
            .main__rating__block {
              padding: 0px;
            }
          }
          .cart_end_icon{
            cursor: pointer;
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1702px) {
  .feature__category__block {
    width: 90% !important;
  }

  .first__feature__category__image {
    width: 100% !important;
  }

  .feature__category {
    padding: 15px 20px 15px !important;
  }
}

@media screen and (max-width: 1400px) {
  .second__feature__category__image__block {
    width: 100% !important;
  }
}

@media screen and (max-width: 1200px) {
  .first__feature__category__title {
    margin: 0px 0px 0px 100px !important;
  }

  .first__feature__category__subtitle {
    margin: 0px 0px 0px 100px !important;
  }

  .first__feature__category__block {
    width: 100% !important;
  }

  .second__feature__category__block {
    width: 50% !important;
  }

  .feature__category__container .first__feature__category__image {
    height: 100% !important;
    // padding-top: 50px !important;
  }

  .feature__category__container .first__feature__category__image__block {
    height: 600px !important;
  }
}

@media screen and (max-width: 992px) {
  .feature__category {
    padding: 20px 20px 30px !important;
  }

  .feature__category__block {
    min-width: 100% !important;
    margin: 0px auto;
  }

  .feature__category__container {
    background: #fffbe4;
  }

  .second__feature__category__image {
    width: 100% !important;
  }

  .deal__of__day__container {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .first__feature__category__block {
    width: 100% !important;
  }

  .second__feature__category__block {
    width: 50% !important;
  }

  .second__feature__category__image {
    width: 90% !important;
  }
}

@media screen and (max-width: 576px) {
  .feature__category__block {
    width: 100% !important;
    margin: 0px auto;

    .inner__feature__category__block {
      display: flex;
      flex-direction: column;

      .first__feature__category__block {
        width: 100% !important;
      }

      .second__feature__category__block {
        width: 100% !important;
      }
    }
  }

  .first__in__column {
    margin-bottom: 20px !important;
  }

  .second__feature__category__image {
    width: 80% !important;
  }
}