.feature__category__container {
  .feature__category__block {
    width: 1190px;
    padding: 0px;
    .inner__feature__category__block {
      display: flex;

      .first__feature__category__block {
        width: 40%;
        .first__feature__category {
          background: #f1f1f1;

          height: 100%;
          overflow: hidden;

          .first__feature__category__title {
            font-family: "arialbold";
            font-size: 30px;
            font-weight: 600 !important;
            color: #363636;
            margin: 0px 0px 0px 200px;
          }
          .first__feature__category__subtitle {
            font-size: 15px;
            color: #363636;
            margin: 0px 0px 0px 200px;
          }
          .first__feature__category__image {
            width: 100%;
            // height: 100%;
            object-fit: cover;
          }
        }
      }
      .second__feature__category__block {
        width: 30%;
        .first__in__column {
          margin-bottom: 20px;
        }
        .feature__category {
          background: #f1f1f1;
          padding: 10px;
          .second__feature__category__image__block {
            width: fit-content;
            margin: 0px auto;
            .second__feature__category__image {
              //   height: 153px;
              width: 100%;
            }
          }
          .second__feature__category__title {
            font-family: "arialbold";

            font-size: 30px;
            font-weight: bold;
            color: #363636;
            margin: 0px;
          }
          .second__feature__category__subtitle {
            font-size: 15px;
            color: #363636;
            margin: 0px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .first__feature__category__title {
    margin: 0px 0px 0px 100px !important;
  }
  .first__feature__category__subtitle {
    margin: 0px 0px 0px 100px !important;
  }
}
@media screen and (max-width: 992px) {
  .feature__category__block {
    min-width: 100% !important;
    margin: 0px auto;
    .first__feature__category__title {
      margin: 0px 0px 0px 10px !important;
    }
    .first__feature__category__subtitle {
      margin: 0px 0px 0px 10px !important;
    }
  }
}
@media screen and (max-width: 576px) {
  .feature__category__block {
    width: 100% !important;
    margin: 0px auto;
    .inner__feature__category__block {
      display: flex;
      flex-direction: column;
      .first__feature__category__block {
        width: 100% !important;
        .first__feature__category__title {
          margin: 0px 0px 0px 10px !important;
        }
        .first__feature__category__subtitle {
          margin: 0px 0px 0px 10px !important;
        }
      }
      .second__feature__category__block {
        width: 100% !important;
      }
    }
  }
}
// @media screen and (max-width: 768px) {
//   .first__feature__category__title {
//     margin: 0px  !important;
//   }
//   .first__feature__category__subtitle {
//     margin: 0px 0px 0px 0px !important;
//   }
// }

.adImage__container {
  margin: 50px 0px;
  .adImage {
    width: 1190px;
    padding: 0px;
    .adImage__block {
      width: 100%;
      overflow: hidden;
      height: 223px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .adImage__image {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .adImage__block {
    height: 180px !important;
  }
}
@media screen and (max-width: 992px) {
  .adImage__container {
    margin: 20px 0px !important;
  }
  .adImage {
    min-width: 100% !important;
    margin: 0px auto;
  }
  .adImage__block {
    height: 135px !important;
  }
}
@media screen and (max-width: 768px) {
  .adImage__container {
    margin: 10px 0px !important;
  }
  .adImage {
    width: 100% !important;
  }
  .adImage__block {
    height: 102px !important;
  }
}
@media screen and (max-width: 768px) {
  .adImage {
    width: 100% !important;
  }
}

.three__products__container {
  margin: 20px 0px;
  .three__products__block {
    width: 1190px;
    padding: 0px;
    .three__products__row {
      .three__product__block {
        .ineer__three__product__block {
          padding: 20px;
          background-color: #f1f1f1;

          .three__product__image__block {
            width: fit-content;
            margin: 0px auto;
            overflow: hidden;
            height: 177px;
            display: flex;
            align-items: center;
            justify-content: center;
            .three__product__image {
              width: 100%;
              height: 100%;
            }
          }
          .three__product__name {
            font-family: "arialbold";
            font-size: 30px;
            font-weight: bold;
            color: #363636;
            margin: 0px;
          }
          .three__product__description {
            font-size: 15px;
            color: #363636;
            margin: 0px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .three__product__image__block {
    height: 137px !important;
  }
  .three__product__name {
    font-size: 24px !important;
  }
  .three__product__description {
    font-size: 12px;
  }
}
@media screen and (max-width: 992px) {
  .three__products__block {
    min-width: 100% !important;
    margin: 0px auto;
  }
  .three__product__image__block {
    height: 96px !important;
  }
  .three__product__name {
    font-size: 18px !important;
  }
  .three__product__description {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .three__products__block {
    width: 100% !important;
    // margin: 0px ;
  }
  .ineer__three__product__block {
    padding: 10px !important;
  }
  .three__product__image__block {
    height: 96px !important;
  }
  .three__product__name {
    font-size: 18px !important;
  }
  .three__product__description {
    font-size: 12px !important;
  }
}

.feed__container {
  .feed__block {
    width: 1190px;
    padding: 0px;
    .feed__row {
      .feed {
        .feed__title {
          font-family: "arialbold";
          font-size: 36px;
          font-weight: bold;
          color: #363636;
          margin: 0px;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .feed__block {
    width: 100% !important;
    min-width: 100% !important;
    margin: 0px auto;
  }
}
@media screen and (max-width: 768px) {
  .feed__block {
    width: 100% !important;
  }
}
@media screen and (max-width: 576px) {
  .feed__block {
    width: 100% !important;
  }
}
