// @media screen and (max-width: 768px) {
//   .first__feature__category__title {
//     margin: 0px  !important;
//   }
//   .first__feature__category__subtitle {
//     margin: 0px 0px 0px 0px !important;
//   }
// }

.adImage__container {
  margin: 50px 0px;
  .adImage {
    width:1702px;
    margin: 0px auto;
    padding: 0px;
    .adImage__block {
      width: 100%;
      overflow: hidden;
      height: 223px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .adImage__image {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .adImage__block {
    height: 180px !important;
  }
}
@media screen and (max-width: 992px) {
  .adImage__container {
    margin: 20px 0px !important;
  }
  .adImage {
    min-width: 100% !important;
    margin: 0px auto;
  }
  .adImage__block {
    height: 135px !important;
  }
}
@media screen and (max-width: 768px) {
  .adImage__container {
    margin: 10px 0px !important;
  }
  .adImage {
    width: 100% !important;
  }
  .adImage__block {
    height: 102px !important;
  }
}
@media screen and (max-width: 768px) {
  .adImage {
    width: 100% !important;
  }
}
