// @media screen and (max-width: 768px) {
//   .first__feature__category__title {
//     margin: 0px  !important;
//   }
//   .first__feature__category__subtitle {
//     margin: 0px 0px 0px 0px !important;
//   }
// }
.homePage {
  background-color: #e6e6e6;
  position: relative;
  .adImage__container {
    background-color: #e6e6e6;
    padding: 30px 12px 50px 12px;
    .adImage {
      width: 1702px;
      margin: 0px auto;
      padding: 0px;
      .adImage__block {
        width: 100%;
        height: 300px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .adImage__image {
          width: 100%;
          // height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .sony__expert__block {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    z-index: 12;
    .expert__button {
      background: none;
      border: none;
      outline: none;
      padding: 0px;
    }
  }
}
.live__chat__popup__container__disable {
  display: none;
}
.live__chat__popup__container {
  position: fixed;
  top: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  z-index: 11;
  height: 100vh;
  overflow-y: hidden;
  background-color: #02020250;
}
@media screen and (max-width: 1702px) {
  .adImage {
    width: 90% !important;
  }
}
@media screen and (max-width: 1200px) {
  .adImage__block {
    height: 180px !important;
  }
}
@media screen and (max-width: 992px) {
  .adImage__container {
    margin: 0px 0px !important;
  }
  .adImage {
    min-width: 100% !important;
    margin: 0px auto;
  }
  .adImage__block {
    max-height: 150 !important;
  }
}
@media screen and (max-width: 768px) {
  .adImage__container {
    padding: 30px 12px !important;
    margin: 0px 0px !important;
  }
  .adImage {
    width: 100% !important;
  }
  .adImage__block {
    // height: 102px !important;
  }
}
@media screen and (max-width: 768px) {
  .adImage {
    width: 100% !important;
  }
}
