.profile__page__container {
  padding: 0px 12px;
  background-color: #f5f5f5;
  .profile__page__block {
    padding: 20px 0px;
    width: 1702px;
    margin: 0px auto;

    .profile__page__title__block {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #0000000a;
      border: 1px solid #f1f1f1;
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .heading3{
        @media(max-width:992px){
          font-size: 20px;
        }
      }
    }
    .profile__page__content__block {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #0000000a;
      border: 1px solid #f1f1f1;
      margin: 0px auto;
      .profile__tab__button__block {
        padding: 16px;
        margin: 0px 0px 20px;
        @media(max-width:992px){
          display: flex;
          overflow: scroll;
          overflow-y: hidden;
          margin: 0px;          
          &::-webkit-scrollbar {
            height: 10px;
          }
          &::-webkit-scrollbar-track {
            background-color: #A1A1A1;
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background: #EFEFEF; 
            border-radius: 10px;
          }
        }
        .profile__page__button__active {
          text-align: center;
          font-size: 14px;
          font-family: "arialbold";
          border-radius: 5px;
          min-width: fit-content;
          color: #ffffff;
          padding: 10px 25px;
          background-color: #000000;
          border: 1px solid #000000;
          margin: 0px 12px 10px 0px;
          outline: none;
          border: none;
          letter-spacing: 0.3px;
          cursor: pointer;
          @media(max-width:992px){
            font-size: 13px;
          }
        }
        .profile__page__button {
          cursor: pointer;
          text-align: center;
          min-width: fit-content;
          font-size: 14px;
          font-family: "arialbold";
          border: 1px solid #707070;
          border-radius: 5px;
          padding: 10px 25px;
          color: #808080;
          background-color: #ffffff;
          margin: 0px 12px 10px 0px;
          outline: none;
          letter-spacing: 0.3px;
          @media(max-width:992px){
            font-size: 13px;
          }
        }
      }
      .address__select__block {
        border-bottom: none;
        margin: 0px;
        padding: 0px 0px 20px;
        @media(max-width:992px){
          padding-top: 30px;
        }
      }
      .newAddress__block{
        width: 100%;
        max-width: 100%;
        .newAddress__title__block {
          padding-bottom: 5px;
          border-bottom: 1px solid #D1D1D1;
          margin: 0px 10px 12px 10px;
          padding-left: 0px;
        }
        .newAddress__form__field__row {
          max-width: 67%;
          @media(max-width:992px){
            max-width: 100%;
            height: auto;
            margin-bottom: 0px;
          }
          .main__form__field__block{

            @media(max-width:992px){
              margin-bottom: 30px;
            }
          }
        }
        p.heading2 {
          font-size: 20px;
        }
      }
      .personal__block__disable {
        display: none;
      }
      .personal__block {
        display: block;

        .profile__email__block,.profile__mobile__block,.profile__firstname__lastname  {          
          @media(max-width:992px){
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 20px; 
          }
          .main__form__field__block {

            @media(max-width:992px){
              height: auto;
              margin: 0px 0px 30px 0px;
              max-width: 100%;
              &:last-child {
                margin: 0px 0px 15px 0px;
              }

            }
            .heading7{
              
              @media(max-width:992px){
                font-size: 14px;  
                line-height: 1;
              }
            }
            .delivery__input__check {
              width: 28px;
              height: 28px;
            }
            .delivery__selection__text {
              font-size: 15px;
            }            

          }
        }

        .profile__preferences__block {

          @media(max-width:992px){
            margin-bottom: 0px;
          }
          .preferences__select__block {
            @media(max-width:992px){
              display: flex;
              align-items: center;
              margin: 0px 0px 0px 0px;
              flex: 0 0 100%;
              flex-wrap: wrap;
              flex-direction: row;
            }
            .preferences__select__input__check {

              @media(max-width:992px){
                height: 25px;
                width: 25px;
                margin-left: 1px;
                margin-bottom: 10px;
                accent-color: #DC3A1A;
              }
            }
            .preferences__select__text {
              font-size: 15px;
              width: 95%;
              max-width: calc(100% - 43px);
              margin-bottom: 10px;
            }

          }
        }
        .profile__form__button__block {
          @media(max-width:992px){ 
            margin-top: 20px; 
            text-align: center;
          }
        }

      }
      .address__block__disable {
        display: none;
      }
      .address__block {
        display: block;
        .selected__address__inner__block,.address__inner__block {
          padding: 10px 10px 30px 30px;

          @media (min-width:1280px) and (max-width:991px) {
              padding: 10px 10px 20px 20px;
              .full__address{
                p{ min-height: 80px; }
              }
          }
          
          @media(max-width:992px){  padding: 10px 10px 20px 20px; }
          .address__title__block {
              align-items: flex-start;
            .white__address__tag{
              @media(max-width:992px){ line-height: 1; }
            }
          }
          .inner__address__button__block{

            .edit__button,.delete__button {
              img{
                width: 36px;
                @media(max-width:992px){ width: 26px; }
              }
            }
          }
          .address__tag {
            .heading7{
              color: #808080;
              @media(max-width:992px){
                font-size: 14px;
              }
            }
            @media(max-width:992px){
              line-height: 1;
            }
          }
          .full__address {
            .text4 {
              @media(max-width:992px){
                font-size: 13px;
              }
            }
          }

        }
        .address__popup__block{
          @media(max-width:992px){
            max-width: 100%;
          }          
          .address__content__block{
            padding: 15px 10px;
            .address__form__field__row {
              height: auto;
              margin-bottom: 0px;
              .main__form__field__block {
                margin: 0px 0px 20px;
              }
            }
            .form-check.form-switch {
              margin: 0px 15px 20px;
            }
          }
        }
      }
      .password__block__disable {
        display: none;
      }
      .password__block {
        display: block;
      }
    }
  }
}
@media screen and (max-width: 1702px) {
  .profile__page__block {
    width: 90% !important;
  }
}
@media screen and (max-width: 1200px) {
  .checkout__right__block {
    padding: 0px !important;
    margin: 10px 0px;
  }
}
@media screen and (max-width: 992px) {
  .profile__page__block {
    width: 100% !important;
  }
}
