.carousel__container {
  margin: 0px 0px 0px;
  position: relative;

  .less__width__carousel__block {
    width: 100%;
    padding: 0px;
    position: relative;
    margin: 0px auto;
  }
  .pc__block {
    width: 1702px;
    padding: 0px;
    position: relative;
    margin: 0px auto;
    margin-top: 60px;
  }
  .section__title {
   font-family: 'SSTbold';
font-weight: bold;
    font-size: 48px;
  }
  // .arrow__block {
  //   z-index: 2;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   width: 103%;
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }
  .arrow {
    // filter: invert(0);
    cursor: pointer;
    padding: 10px 15px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 1;
  }
  .arrow__disable {
    visibility: hidden;
  }
  .left__arrow {
    position: absolute;
    top: 50%;
    left: -1.5%;
    // transform: translateY(-50%);
    // transform: translateX(-100%);
  }
  .right__arrow {
    position: absolute;
    top: 50%;
    right: -1.5%;
    // transform: translateY(-70%);
  }
  .main__product__container__block {
    background-color: #ffffff;
    padding: 40px 40px 20px;
    border-radius: 10px;
    .new__arrival__pc__block {
      display: flex;
      align-items: center;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
    .top__trending__pc__block {
      // position: relative;
      display: flex;
      align-items: center;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
    .top__rated__pc__block {
      display: flex;
      align-items: center;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
  }
  .bestSellers__block {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
  }

  .budgetTV__block {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
  }
  .productListingPage__similarproduct__block {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
  }
  .people__also__bought__block {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
  }

  .pd__similar__products__block {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
  }
}
@media screen and (max-width: 1702px) {
  .pc__block {
    width: 90% !important;
  }
}
@media screen and (max-width: 1400px) {
  .arrow__block {
    width: 103% !important;

    .left__arrow {
    }
    .right__arrow {
    }
  }
}
@media screen and (max-width: 1200px) {
  .main__product__container__block {
    padding: 20px !important;
  }
  .arrow__block {
    width: 100% !important;
  }
  .left__arrow {
    transform: translateX(0%) !important;
  }
  .right__arrow {
    transform: translateX(0%) !important;
  }
}
@media screen and (max-width: 992px) {
  .pc__block {
    min-width: 100% !important;
    margin: 0px auto;
  }
  .arrow__block {
    width: 100% !important;
  }
  .arrow {
    padding: 10px;
    background-color: #81818150;
  }
}
@media screen and (max-width: 768px) {
  .pc__block {
    width: 100% !important;
  }
  .arrow__block {
    width: 100% !important;
  }
}
@media screen and (max-width: 576px) {
  .pc__block {
    width: 100% !important;
  }
  .arrow__block {
    width: 100% !important;
  }
}
